.nombre { 
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: large;
    border-style: outset;
    border-color: blue;
    border-radius: 5px;
    border-width: 5px;
    background: linear-gradient(to bottom, blue, white);
    text-align: center;
    margin-right: 150px;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 0 5px #888;
}

.edad {
    font-size: large;
    color:#6800ff
    font-style: normal;
    text-decoration: underline;
    text-shadow: 7px 10px 0px rgba(220,4,4,0.24);

}
#contacto {
text-decoration:underline;

}
.series {
    border-radius: 5px;
    
}
ul {
    border-radius: 5px;
    border-width: 5px;
    background: linear-gradient(102deg,#00ffe7 0%, #00acff 80%);
    list-style-type: none;
}
ol {
    border-radius: 5px 10px 5px 10px;
    background: linear-gradient(274deg,#6800ff 0%, #00acff 80%);
    list-style-type: none;

}
h3, h4, h5 {
    text-decoration: underline;
}
.src {
    border-color: blue;
}

.perfil {
    background-color: #00acff;
    box-shadow: 17px -13px 11px 9px rgba(33,115,161,0.75);
}