.contenedor{
    background-color: white;
    border: 5px black solid;
    display: flex;
    justify-content: space-between;
    


}
.item1{
    background-color: red;
    width: 200px;
    height: 200px;
    margin: 0;
    font-size: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item2 {
    background-color: blue;
    width: 200px;
    height: 200px;
    margin: 0;
    font-size: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

}
.item3 {
    background-color: green;
    width: 200px;
    height: 200px;
    margin: 0;
    font-size: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}